img{
  object-fit: cover;
}
body{
  font-family: 'Roboto Mono', monospace;
  background-color: #6B728E;
  color: white;
}
.all{
  display: grid;
  gap: 10px;
}
.top{
  background-color: #404258;
  text-align: center;
  padding: 10px;
}
h1{
  font-size: 3.5em;
}
.top>p{
  font-size: 1.5em;
}
.movie-container{
  display: flex;
  flex-direction: row;
  background-color: #404258;
}
.poster-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-around;
  max-width: 100%;
  margin-top: 40px;
  margin-left: 40px;
}
.movie-box{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-left: 40px;
  margin-right: 40px;
  align-items:flex-start;
}
.movie-info{
  display: flex;
  align-items: center;
}
.movie-name{
  flex-grow: 1;
}
.release-date{
  flex-shrink: 0;
  margin-left: 80px;
}
.release-date>h2{
  font-size: 2em;
}
.overview{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 20px;
}
.overview>p{
  text-align: justify;
  font-size: 1.1em;
  line-height: 1.6em;
}
.genres-budget-box{
  display: flex;
}
.genres>p , .budget>p{
  font-size: 1.2em;
}
.budget{
  margin-left: 90px;
}
.tagline{
  margin-bottom: 40px;
}
.tagline>p{
  margin-left: 20px;
  font-style: italic;
  color: #ccd0dd;
  font-weight: bold;
  font-size: 1.3em;
}
.characters{
  background-color: #404258;
}
.character-container{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); 
  gap: 20px; 
  padding: 20px;
}
.character-box{
  background-color: #dcdfeeb7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  color: black;
  border-radius: 10px;
}
.character-image{
  margin-top: 10px;
}
.character-image>img{
  border-radius: 10px;
}
.character-name{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.character-name>p{
  font-size: 1.1em;
  text-align: center;
}
.nickname{
  font-size: 0.8em;
  color: rgba(0, 0, 0, 0.771);
  text-align: center;
}
.reviews{
  background-color: #404258;
}
.review-title>h2, .similar-title>h2, .character-title>h2{
  font-size: 2.5em;
  margin-left: 40px;
}
.review-container{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(475px, 1fr)); 
  gap: 20px; 
  margin: 20px;
}
.review-box{
  display: flex;
  flex-direction: column;
  background-color: #dcdfeeb7;
  color: black;
  border-radius: 10px;
}
.user-review-info{
  display: flex;
  align-items: center;
  margin: 5px;
}
.username{
  margin-left: 10px;
  margin-right: 50px;
}
.user-image-box>img{
  width: 50px; 
  height: 50px; 
  background-size: cover;
  border-radius: 50%;
}
.user-review-content{
  padding-left: 30px;
  padding-right: 10px;
  background-color: #ccd0dd;
  font-size: 1em;
  text-align: justify;
}
.similars{
  background-color: #404258;
}
.similar-container{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); 
  gap: 20px; 
  margin: 20px;
}
.similar-box{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.similar-container{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); 
  gap: 20px; 
  margin: 20px;
}
.similar-box{
  background-color: #50577A;
  border-radius: 5px;
  cursor: pointer;
}
.similar-info{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 0;
  margin-top: 20px;
  height: 130px;
}
#rating{
  font-size: 1.2em;
  margin: 0;
  margin-bottom: 10px;
  color: yellow;

}
#name{
  text-align: center;
  margin: 0;
  color: white;
  font-size: 1.4em;
}
.similar-image>img{
    max-width: 100%;
    object-fit: cover;
}






@media (max-width:900px) {  /* 1047px */
  .movie-container{
    flex-direction: column;
  }
  .poster-box{
    margin-left: 0;
  }
  h1{
    font-size: 2em;
  }
  .release-date>h2{
    font-size: 1em;
  }
}